/* common shared styles*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    color: white;
    font-weight:700;
    padding:15px 28px;


}
/* nav related styles */
nav {
    display: flex;
   /* justify-content: space-between; */
    align-items: center;
    margin: 0px 200px ;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.section-title{
    color: #181818;
    text-align: center;
    font-family:'Open Sans',
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic{
    width: 410px;
}
.banner-greetintg {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
}
/*main section styles */

/* about section styles */
.about{
    padding:130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 30px;

}
/* main section styles */
main{
    max-width: 1140px;
    margin:0 auto;
}
.about-info-container{
   display: flex;
   justify-content: space-around; 
}
.about-info{
    text-align: center;
}
/* skill reated styles */
#what-i-do-description{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
}
.skill{
    padding: 30px;
    gap: 24px;
}
main section{
    margin-top: 130px;
}

/* resume section styles */


}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700x;
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-institute, .reesume-item-description{
    color: #757575;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

    
    


   
